body {
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/hd/8dd9c993880197.5e706d68574d6.gif');
    background-position: center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: rgba(255, 255, 255, 0.507);
    width: 800px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba( 11, 37, 89);    
    font-family: Arial, Helvetica, sans-serif;
}

#principal {
    color: rgb(0, 0, 0);
    text-align: center;
   
}

.titulo-2{
    color: rgb(255, 253, 248);
    font-family: Arial, Helvetica, sans-serif;
    
    
    
}

.titulo-3{
    color: rgb(255, 253, 248);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;   
    
}

h2 {
    color: #ffffff;
    
 
}

li{
    color: rgb(5, 122, 34);
    list-style-type: none;
    padding: 10px;
    font-weight: 700;
    
}



aside {
    display: block; 
    font-size: 15px;
    text-align: justify;
    background-color: #5C8C46;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    
}

aside img {
    width: 60px; 
    display: block; 
    float: left;
    margin-right: 10px;
}

a {
    color: rgb(5, 122, 34);
    font-weight: bolder;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 10px 10px 10px rgba(45, 180, 4, 0.493);
    text-decoration: none;
    line-height: 30px;
    
    
}

a:hover {
    color: #e8e9ec;
    text-decoration: none;
}